.root {
    font-size: 0.85em;
    color: rgba(var(--lotta-text-color), 0.5);
    margin: auto;
    display: inline-flex;
    a {
        padding-right: var(--lotta-spacing);
        &:not(:first-child) {
            padding-left: var(--lotta-spacing);
        }
    }
    svg {
        width: 1em;
        height: 1em;
    }
}
