.root {
    display: flex;
    padding: var(--lotta-spacing) calc(2 * var(--lotta-spacing));
    margin-bottom: var(--lotta-spacing);
    position: relative;

    &.isActive {
        flex-direction: row-reverse;
        .message {
            border-color: rgba(var(--lotta-primary-color), 1);
            background-color: rgba(var(--lotta-primary-color), 0.3);
            border-bottom-right-radius: 0;
        }

        .messageWrapper {
            align-items: flex-end;
        }
    }

    &:not(.isActive) .message {
        border-bottom-left-radius: 0;
    }

    .messageWrapper {
        display: flex;
        max-width: 80%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 var(--lotta-spacing);
    }

    .message {
        padding: var(--lotta-spacing);
        border: 1px solid rgba(var(--lotta-disabled-color), 0.5);
        background: rgba(var(--lotta-disabled-color), 0.08);
        border-radius: calc(3 * var(--lotta-border-radius));
        hyphens: auto;
        word-wrap: break-word;
        word-break: break-word;
        white-space: pre-wrap;
    }

    .senderUser {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .senderUserAvatar {
        display: inline-block;
    }

    .messageInformation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75em;
        padding-top: 0.25em;

        button {
            padding: 0;
            svg {
                font-size: 1.5em;
            }
        }
    }
}
