.root {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(var(--lotta-box-background-color));
    border-bottom: 1px solid rgba(var(--lotta-box-background-color));
    padding: var(--lotta-spacing);

    [role='combobox'] {
        width: 100%;
    }
}
