@import 'breakpoints';

.root {
    position: relative;
    height: 200px;
    width: 200px;
    @media screen and (max-width: $max-xs) {
        width: 100px !important; // Overrides inline-style
        height: 100px;
    }
    &:hover {
        z-index: 1;
    }
    .imageButton {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imageTitle {
        position: relative;
        padding: calc(2 * var(--lotta-spacing)) calc(4 * var(--lotta-spacing))
            calc(var(--lotta-spacing) + 6);
    }
}
