.root {
    display: flex;
    flex-shrink: 0;
    padding-right: var(--lotta-spacing);
    width: 100%;
    height: 100%;
    justify-content: flex-end;

    .loggedInContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .avatarContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 0 0 33%;
            padding: var(--lotta-spacing) 0;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
    }
    .button {
        width: 100%;
        justify-content: left;
    }

    .newMessageBadge {
        position: absolute;
        left: -1em;
        top: -0.5em;
    }

    .leftIcon {
        margin-right: var(--lotta-spacing);
    }

    .iconSmall {
        font-size: 20px;
    }

    .menuList {
        min-width: 15em;
    }
}
