@import 'breakpoints';

.root {
    background-color: initial;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: $min-md) {
        max-width: $min-md;
    }
    @media screen and (min-width: $min-lg) {
        max-width: $min-lg;
    }
    @media screen and (min-width: $min-md) {
        padding-left: calc(var(--lotta-spacing) * 2);
        padding-right: calc(var(--lotta-spacing) * 2);
    }
    h1 {
        font-family: var(--lotta-font-family);
        font-size: 1.4rem;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.3;
    }

    .header {
        min-width: 100%;
        height: 100px;
        background-size: cover;
        text-align: right;
        display: flex;

        img {
            height: 80px;
        }
    }

    .main {
        display: flex;
        justify-content: flex-start;
        margin-top: var(--lotta-spacing);
        max-width: 100%;
        padding-bottom: var(--lotta-spacing);
        @media screen and (max-width: $max-sm) {
            flex-direction: column-reverse;
        }
    }

    .logoGridItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: calc(2 * var(--lotta-spacing));
        flex: 0 0 33%;
        @media screen and (max-width: $max-sm) {
            display: none;
        }
        @media print {
            flex: 0 1 20%;
            img {
                width: 100%;
            }
        }
    }

    .titleGridItem {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        align-items: flex-start;
        justify-content: flex-end;
        padding-right: calc(2 * var(--lotta-spacing));
        padding-left: calc(2 * var(--lotta-spacing));
        margin: auto 0;
    }

    .logo {
        max-height: 80px;
    }

    @media print {
        nav {
            display: none;
        }
    }
}
