@import 'breakpoints';

.root {
    border-radius: 0;
    box-shadow: none;
    padding: var(--lotta-spacing);
    background-color: rgba(var(--lotta-box-background-color), 1);
    display: flex;

    h2 {
        color: rgba(var(--lotta-text-color));
        padding: var(--lotta-spacing);
        font-size: 1.5rem;
        font-weight: 100;
        letter-spacing: calc(0.5 * var(--lotta-spacing));
        text-transform: uppercase;
    }

    .subheader {
        flex: 1 1 66%;
        min-height: 120px;
        background-size: cover;
        width: 100%;
        @media screen and (max-width: $max-sm) {
            max-width: initial;
        }
        flex-shrink: 1;
        flex-grow: 1;
        position: relative;
    }

    &.hasBannerImage {
        .subheader {
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                object-fit: cover;
            }
            &::after {
                position: absolute;
                display: block;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    to right,
                    rgba(var(--lotta-box-background-color), 0) 75%,
                    rgba(var(--lotta-box-background-color), 1) 98%
                );
            }
        }
        .headerContent {
            position: absolute;
        }
    }

    .userNavigationGridItem {
        padding-left: var(--lotta-spacing);
        flex: 0 0 33%;
        @media screen and (max-width: $max-sm) {
            display: none;
        }

        @media print {
            display: none !important;
        }
    }
}
